<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[开心]</key>
	<string>1</string>
	<key>[亲亲]</key>
	<string>0</string>
	<key>[睡觉]</key>
	<string>2</string>
	<key>[惊恐]</key>
	<string>3</string>
	<key>[晕]</key>
	<string>4</string>
	<key>[大笑]</key>
	<string>5</string>
	<key>[鄙视]</key>
	<string>6</string>
	<key>[色迷迷]</key>
	<string>7</string>
	<key>[调皮]</key>
	<string>8</string>
	<key>[可爱]</key>
	<string>9</string>
	<key>[抓狂]</key>
	<string>10</string>
	<key>[哭]</key>
	<string>11</string>
	<key>[大便]</key>
	<string>12</string>
	<key>[耶]</key>
	<string>13</string>
	<key>[得意]</key>
	<string>14</string>
	<key>[挖鼻孔]</key>
	<string>15</string>
	<key>[偷笑]</key>
	<string>16</string>
	<key>[生气]</key>
	<string>17</string>
	<key>[委屈]</key>
	<string>18</string>
	<key>[疑问]</key>
	<string>19</string>
	<key>[顶]</key>
	<string>20</string>
	<key>[ok]</key>
	<string>21</string>
	<key>[大拇指]</key>
	<string>22</string>
	<key>[倒喝彩]</key>
	<string>23</string>
	<key>[心]</key>
	<string>24</string>
	<key>[心碎]</key>
	<string>25</string>
	<key>[吻]</key>
	<string>26</string>
	<key>[咸蛋超人]</key>
	<string>27</string>
	<key>[坏笑]</key>
	<string>28</string>
	<key>[敲打]</key>
	<string>29</string>
	<key>[再见]</key>
	<string>30</string>
	<key>[流汗]</key>
	<string>31</string>
	<key>[衰]</key>
	<string>32</string>
	<key>[难过]</key>
	<string>33</string>
	<key>[哦呵呵]</key>
	<string>34</string>
	<key>[圣诞树]</key>
	<string>35</string>
	<key>[骷髅]</key>
	<string>36</string>
	<key>[铜钱]</key>
	<string>37</string>
	<key>[太阳]</key>
	<string>38</string>
	<key>[月亮]</key>
	<string>39</string>
	<key>[拍手]</key>
	<string>40</string>
	<key>[v5]</key>
	<string>41</string>
	<key>[尴尬]</key>
	<string>42</string>
	<key>[傲慢]</key>
	<string>43</string>
	<key>[糗大了]</key>
	<string>44</string>
	<key>[惊讶]</key>
	<string>45</string>
	<key>[哼哼]</key>
	<string>46</string>
	<key>[鼓掌]</key>
	<string>47</string>
	<key>[可怜]</key>
	<string>48</string>
</dict>
</plist>
