<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>list</key>
		<array>
			<string>川菜</string>
			<string>北京菜</string>
			<string>鲁菜</string>
			<string>湘菜</string>
			<string>江浙菜</string>
			<string>粤菜</string>
			<string>湖北菜</string>
			<string>西北菜</string>
			<string>云南菜</string>
			<string>贵州菜</string>
			<string>其他中餐</string>
		</array>
		<key>name</key>
		<string>中餐</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>牛排</string>
			<string>比萨</string>
			<string>日本料理</string>
			<string>韩国料理</string>
			<string>拉美烧烤</string>
			<string>其他西餐</string>
		</array>
		<key>name</key>
		<string>西餐</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>快餐/简餐</string>
			<string>麻辣烫</string>
			<string>饺子</string>
			<string>粥店</string>
			<string>包子</string>
		</array>
		<key>name</key>
		<string>小吃快餐</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>火锅</string>
			<string>羊蝎子</string>
			<string>海鲜</string>
		</array>
		<key>name</key>
		<string>火锅海鲜</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>面包西点</string>
			<string>冰淇淋</string>
			<string>甜品饮品</string>
		</array>
		<key>name</key>
		<string>甜点饮料</string>
	</dict>
</array>
</plist>
